body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#section-profile{
}

.background{
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
	
	background-size:50px 50px;
	background-attachment: fixed;
}

#section-profile img{
	display: block;
	margin: 0 auto;
	width: 200px;
	border-radius: 50%;
}

#section-profile header{
	height: 100vh;
}

#section-profile header h1{
	font-size: 1.9em;
	color:white;
	margin:0 auto;
	margin-bottom: .5em;
}

#section-profile header h2{
	font-size: 1.5em;
	max-width: 300px;
	margin: 0 auto;
	padding: .5em .3em;
}

#section-profile #nav{
	position: absolute;
	bottom: 0;
	width: 100%;
}

#section-profile marquee ul li{
	float:left;
	padding: 0 20px;
	line-height: 25px;
	border-right: 1px solid white;
	font-size: 1.2em;
	color: white;
}

#section-profile marquee ul li:first-child{
	border-left: 1px solid white;
}

#about{
	height: 300px;
}